<section class="pt-page pt-page-2" data-id="about_me">
    <div class="section-title-block">
        <h2 class="section-title">About Me</h2>
        <h5 class="section-description"><%= about_info.subtitles %></h5>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 subpage-block">
            <div class="general-info">
                <h3><%= about_info.story_title %></h3>
                <p><%= about_info.story_content_p1 %></p>
                <p><%= about_info.story_content_p2 %></p>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 subpage-block">
            <img src="<%=about_info.right_img%>" alt="Could be portrait or landscape"/>
        </div>
    </div>

    <!-- Services block -->
    <!-- End of Clients block -->

    <!-- Fun facts block -->
    <div class="block-title">
        <h3>Fun Facts</h3>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block gray-bg">
                <i class="pe-7s-icon pe-7s-smile"></i>
                <h4>Happy Clients</h4>
                <span class="fun-value">1,024</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block">
                <i class="pe-7s-icon pe-7s-alarm"></i>
                <h4>Working Hours</h4>
                <span class="fun-value">6,256</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block gray-bg">
                <i class="pe-7s-icon pe-7s-medal"></i>
                <h4>Awards Won</h4>
                <span class="fun-value">21</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
            <div class="fun-fact-block">
                <i class="pe-7s-icon pe-7s-coffee"></i>
                <h4>Coffee Consumed</h4>
                <span class="fun-value">20,000</span>
            </div>
        </div>
    </div>
    <!-- End of Fun fucts block -->
</section>