<section class="pt-page pt-page-3" data-id="resume">
    <div class="section-title-block">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description"><%= resume_info.total_year %> Year Experience</h5>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
                <h3>Education</h3>
            </div>
            <div class="timeline">
                <!-- Single event -->
                <% for(let i = 0;i < resume_info.education_list.length;i++){ %>
                    <% const education = resume_info.education_list[i] %>
                    <div class="timeline-event te-primary">
                        <h5 class="event-date"><%= education.year %></h5>
                        <h4 class="event-name"><%= education.major %></h4>
                        <span class="event-description"><%= education.school %></span>
                        <p><%= education.description %></p>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
                <h3>Experience</h3>
            </div>
            <div class="timeline">
                <!-- Single event -->

                <% for(let i = 0;i < resume_info.experience_list.length;i++){ %>
                    <% const experience = resume_info.experience_list[i] %>
                    <div class="timeline-event te-primary">
                        <h5 class="event-date"><%= experience.year %></h5>
                        <h4 class="event-name"><%= experience.job_title %></h4>
                        <span class="event-description"><%= experience.company %></span>
                        <p><%= experience.description %></p>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="block-title">
                <h3><%= resume_info.first_skill_title %></h3>
            </div>
            <div class="skills-info">
                <% for(let i = 0;i < resume_info.first_skill_list.length;i++){ %>
                    <% const skill = resume_info.first_skill_list[i] %>
                    <h4><%= skill.title %></h4>
                    <div class="skill-container">
                        <div class="skill-percentage skill-<%= skill.score %>"></div>
                    </div>
                <% } %>
            </div>

            <div class="block-title">
                <h3><%= resume_info.second_skill_title %></h3>
            </div>
            <div class="skills-info">
                <% for(let i = 0;i < resume_info.second_skill_list.length;i++){ %>
                    <% const skill = resume_info.second_skill_list[i] %>
                    <h4><%= skill.title %></h4>
                    <div class="skill-container">
                        <div class="skill-percentage skill-<%= skill.score %>"></div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="download-cv-block">
                <a class="button" target="_blank" href="/docs/chuichui-resume.pdf" download="binny-profile">Download CV</a>
            </div>
        </div>
    </div>
</section>